div.document {
  width: 970px;
}

div.body {
  padding-left: 50px;
}

a.sourcelink {
  text-decoration: none;
}

a.sourcelink:hover {
  text-decoration: underline;
}

a.sourcelink img {
  display: inline-block;
  height: 1em;
  margin-right: 0.3em;
  position: relative;
  bottom: -3px;
}
